.vs/
*.user
*.suo

bin/
obj/
artifacts/

*.log
*.tmp

appsettings.json
appsettings.*.json
appsettings.Development.json
!appsettings.Example.json

.DS_Store

*.coverage
*.coveragexml

*.nupkg
*.snupkg

mono_crash.*

*.rsuser
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

project.lock.json
project.fragment.lock.json

*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj

*.psess
*.vsp
*.vspx
*.sap

**/[Pp]ackages/*
!**/[Pp]ackages/build/

*.nuget.props
*.nuget.targets

.builds
*.pidb
*.svclog
*.scc 